.door-container {
  align-self: center;
  background-color: cadetblue;

  .door {
    width: 80px;
    height: 80px;
    border-radius: 10000px 0 0 0;
    border: 1px solid green;
    border-right-width: 10px;
  
    &.negative-x {
      margin-left: -80px
    }
    &.negative-y {
      margin-top: -80px
    }

    &.top {
      &-right{
        transform: scaleX(-1);
      }
    }

    &.bottom {
      &-right {
        transform: rotate(180deg);
      }
      &-left {
        transform: rotate(180deg) scaleX(-1);
      }
    }
  }
}