
.bedRoom1 {
  background-color: rgb(255, 127, 227);
  grid-column: 2 / 13;
  grid-row: 18 / 25;

  &-door {
    grid-column: 13 / span 1;
    grid-row: 22 / 25;
  }

  &-bed {
    grid-column: 4 / span 1;
    grid-row: 18 / 18;
  }

}