.bed-container {
  background-color: cadetblue;
  position: relative;
  
  .bed {
    position: absolute;
    width: 100px;
    height: 180px;
    background-color: darkkhaki;
    border: 1px solid tomato;
    top: 0;
  }
}